
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<h2>Spring MVC 06</h2>
 	<div class="panel panel-primary">
    	<div class="panel-heading">Board Join</div>
    	<div class="panel-body">
    	
    		<form action="join.do" method="post">
    		<table class = "table table-bordered table-hover">
    			<tr>
    				<td>아이디</td>
    				<td><input name ="id" type="text" class="form-control" placeholder="아이디을 입력하세요."></td>
    			</tr>
    			<tr>
    				<td>비밀번호</td>
    				<td><input name="pw" type="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
    			</tr>
    			<tr>
    				<td>닉네임</td>
    				<td><input name ="nick" type="text" class="form-control" placeholder="닉네임을 입력하세요."></td>
    			</tr>
    			<tr>
    				<td>주소</td>
    				<td><input name ="addr" type="text" class="form-control" placeholder="주소를 입력하세요."></td>
    			</tr>
    			
    			<tr>
    				<td colspan="2" align="center">
    		
    					<a href="boardList.do"><button type="button" class="btn btn-info">돌아가기</button></a>
    					<button type="reset" class="btn btn-danger">취소</button>
    					<button type="submit" class="btn btn-warning">회원가입</button>
    				</td>
    			</tr>
    		</table>
    		</form>
    	</div>
    	<div class="panel-footer">LG DX - 박원지</div>
	</div>
</div>

</body>
</html>